name: PR Validation

on:
  pull_request:
    branches: [ develop, staging, main ]

jobs:
  build-and-test:
    uses: ./.github/workflows/_build-and-test.yml
    with:
      solution_file: 
    secrets:
      gitops_pat: ${{ secrets.GITOPS_PAT }}
