name: PR Validation

on:
  pull_request:
    branches: [develop, staging, main]

jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      version_format: ${{ steps.set-version.outputs.version_format }}
    steps:
      - id: set-version
        run: |
          BASE_BRANCH="${{ github.base_ref }}"
          if ["$BASE_BRANCH" == "main"]; then
            VERSION_FORMAT="1.0.*"
          elif ["$BASE_BRANCH" == "staging"]; then
            VERSION_FORMAT="1.0.*-beta*"
          else
            VERSION_FORMAT="1.0.*-alpha*"
          fi
          echo "version_format=$VERSION_FORMAT" >> $GITHUB_OUTPUT

  build-and-test:
    needs: prep
    uses: ./.github/workflows/_build-and-test.yml
    with:
      solution_file:
      extra_args: -p:SharedLibraryVersion=${{ needs.prep.outputs.version_format }}
    secrets:
      gitops_pat: ${{ secrets.GITOPS_PAT }}
